<div class="examples">
  {% if block.settings.img_one %}
    <div class="img-wrapper">
      <img src="{{ block.settings.img_one | img_url: 'master' }}" >
    </div>
  {% endif %}
  {% if block.settings.img_two %}
    <div class="img-wrapper">
      <img src="{{ block.settings.img_two | img_url: 'master' }}" >
    </div>
  {% endif %}
  {% if block.settings.img_three %}
    <div class="img-wrapper">
      <img src="{{ block.settings.img_three | img_url: 'master' }}" >
    </div>
  {% endif %}
  {% if block.settings.img_four %}
    <div class="img-wrapper">
      <img src="{{ block.settings.img_four | img_url: 'master' }}" >
    </div>
  {% endif %}
  {% if block.settings.img_five %}
    <div class="img-wrapper">
      <img src="{{ block.settings.img_five | img_url: 'master' }}" >
    </div>
  {% endif %}
  {% if block.settings.img_six %}
    <div class="img-wrapper">
      <img src="{{ block.settings.img_six | img_url: 'master' }}" >
    </div>
  {% endif %}
</div>